---
import { Icon } from 'astro-icon';
import { getAssetURL, getDirectusClient } from '../utils';
import { Image } from 'astro:assets';
const projectName = import.meta.env.PROJECT_NAME;
const directus = await getDirectusClient();
const response = await directus.query(
  `
  query {
    sweepstakes (filter: {name: {_eq: "${projectName}"}}) {
      data 
      images {
        id
        directus_files_id {
          id
          filename_download
        }
      }
    }
  }
  `,
);

const data = response.sweepstakes[0].data;

console.log(data);

const commentImages = response.sweepstakes[0].images;
const test = commentImages.filter((item) => item.directus_files_id.filename_download.includes('comment'));
---

<div class="py-10">
  <h2 class="text-xl font-bold mb-5">Comment:</h2>
  <div class="text-input overflow-hidden flex items-center gap-5 w-full border-2 p-3 rounded-full relative mb-10">
    <input type="text" class="w-full pl-2 text-lg outline-none" id="text" placeholder="Comment..." />
    <div class="flex items-center gap-2">
      <img id="thumbnail" class="thumbnail max-w-[50px] rounded-lg max-h-[50px] hidden" />
      <label for="file" class="cursor-pointer">
        <Icon name="fluent:attach-12-regular" class="w-7 h-7" />
      </label>
      <button class="send-button pointer-events-none text-gray-500">
        <Icon name="tabler:send" class="w-7 h-7" />
      </button>
    </div>

    <input type="file" id="file" class="hidden file-input" />
  </div>

  {
    data.comments.map((comment, index) => (
      <div class="bg-[#F5F5F5] w-full rounded-lg py-4 px-3 flex mb-2 flex-col">
        <div class="flex justify-between items-center mb-3">
          <div class="flex gap-3 text-base">
            <span class="text-[#485584]  font-semibold">{comment.name}</span>
            <span class="text-[#9E9E9E]">{comment.date}</span>
          </div>
          <div class="flex gap-1 text-sm">
            <Icon name="mdi:heart-outline" class="w-5 h-5 text-[#AFAFAF]" />
            <span class="text-[#9E9E9E]">{comment.like_count}</span>
          </div>
        </div>
        <p class="text-[#5F5F5F] mb-2">{comment.text}</p>
        {comment.image && <Image src={comment.image} alt="image" width={300} height={100} />}
      </div>
    ))
  }
</div>

<style>
  .send-button.active {
    @apply text-primary pointer-events-auto;
  }
</style>

<script>
  import Toastify from 'toastify-js';
  const textInput = document.querySelector('#text') as HTMLSelectElement;
  document.querySelector('.send-button').addEventListener('click', () => {
    textInput.value = '';
    document.querySelector('.send-button').classList.remove('active');
    Toastify({
      text: 'Thank you for your comment. It has been sent for verification and will be published soon!',
      duration: 5000,
      gravity: 'bottom',
      position: 'center',
      style: {
        background: '#4B94F7',
      },
      onClick: function () {},
    }).showToast();
  });

  document.querySelector('.file-input').addEventListener('change', function () {
    const fileInput = this as HTMLInputElement;
    const thumbnail = document.querySelector('#thumbnail') as HTMLImageElement;
    const textInput = document.querySelector('#text') as HTMLSelectElement;

    if (fileInput.files && fileInput.files[0]) {
      const reader = new FileReader();

      reader.onload = function (e) {
        if (e.target && e.target.result) {
          thumbnail.src = e.target.result.toString();
          thumbnail.style.display = 'block';
        }
      };

      reader.readAsDataURL(fileInput.files[0]);
    } else {
      thumbnail.style.display = 'none';
      textInput.style.display = 'block';
    }
  });

  document.querySelector('#text').addEventListener('input', function () {
    const textInput = this as HTMLInputElement;
    const sendButton = document.querySelector('.send-button');

    if (textInput.value.trim() !== '') {
      sendButton.classList.add('active');
    } else {
      sendButton.classList.remove('active');
    }
  });
</script>
